<!-- {{players|json}} -->
<h1 class="display-3">Portsmouth Golf Centre</h1>
<div *ngFor="let player of players" class="row">
<div class="col-4 display-6">
    {{player.name}}
</div>
<div class="col mt-3 text-md-center">   
        
            <button (click)="player.visibleResult = !player.visibleResult" type="button" class="btn btn-primary btn-sm">Results</button>
           
</div>

    <app-results *ngIf="player.visibleResult" [results]="player.result" [playerId]="player.id" ></app-results>


</div>