*{
    color: white;
}

app-results{
    background: rgba(195, 27, 35, 0.8);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: block;
    color:black;
    padding: 1rem;
    height: 25vh;
    /* overflow: hidden; */
    overflow-y: scroll;
    margin-left: 5rem;
    margin-top: 1rem;
    border: 5px solid red;
}

@media (max-width: 576px) {
    app-results{  
    padding: .5rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid red;
}
*{
    font-size: .8rem;
}
}